<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>live stream: opentok</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>

    <body>
        <div class="wrapper"></div>

        <script defer src="https://static.opentok.com/v2/js/opentok.min.js"></script>
        <script defer src="/javascripts/viewer.js"></script>
    </body>
</html>
